# Chrome Web Store Auto Deploy Credentials
# Extension ID from developer console URL: https://chrome.google.com/webstore/devconsole/adbed94e-07c7-40cf-a800-ededc8b898b1/dfeikdphcfjnkdeolkcnblpdokkcddlm/edit
CHROME_EXTENSION_ID=dfeikdphcfjnkdeolkcnblpdokkcddlm

# Option 1: Chrome Web Store OAuth2 Credentials (v1.1 API)
CHROME_CLIENT_ID=your_chrome_client_id
CHROME_CLIENT_SECRET=your_chrome_client_secret
CHROME_REFRESH_TOKEN=your_chrome_refresh_token

# Option 2: Chrome Web Store Service Account (v2 API)
CHROME_PUBLISHER_ID=adbed94e-07c7-40cf-a800-ededc8b898b1
CHROME_SERVICE_ACCOUNT_CLIENT_EMAIL=your_service_account@project.iam.gserviceaccount.com
CHROME_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
